@charset "UTF-8";

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;


}
h1{
    color: rgb(255, 255, 255);

}
 
h1#principal {
    text-align: center;
    background-color: black;
}  

h2{
    color: bisque;
}
.basico {
          color:rgb(230, 183, 91) ;
     
}
.intermediario {
    color:firebrick ;
    font-weight: 200;
}
.avancado {
    color: black;
}
.destaque {
    background-color:rgba(96, 136, 96, 0.541) ;
}